<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534997301785-b05n21m3ejipcfpu3o3qu9lg8rab911g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534997301785-b05n21m3ejipcfpu3o3qu9lg8rab911g</string>
	<key>API_KEY</key>
	<string>AIzaSyA7gBKWl2kJ5qQe7Z9ZVG4JiwHxvMbe1Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>534997301785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bochan.TinderApp</string>
	<key>PROJECT_ID</key>
	<string>tindercloneapp-b2f37</string>
	<key>STORAGE_BUCKET</key>
	<string>tindercloneapp-b2f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534997301785:ios:9b92377a967f99f2860888</string>
</dict>
</plist>